<div>
    <div class="col-xs-6 col-sm-6">
        <div class="row" style="margin-right: -8px;">
            <label v-if="hasLabels" class="col-xs-4 col-sm-4 control-label" for="city">地市:</label>
            <div :class="{'col-xs-8 col-sm-8': hasLabels}">
                <select v-model="selectedCity" class="input-sm form-control" id="city">
                    <option v-for="city in cities" :value="city.id">{{city.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6">
        <div class="row" style="margin-left: -7px;">
            <label v-if="hasLabels" class="col-xs-4 col-sm-4 control-label" for="county">区县:</label>
            <div :class="{'col-xs-8 col-sm-8': hasLabels}">
                <select v-model="selectedCounty" class="input-sm form-control" id="county">
                    <option v-for="county in counties" :value="county.id">{{county.name}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
